@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 hero-image">
            <div class="hero-text">
                <h1>Herşey Tamamsa Başlatalım!</h1>
                <p>En Güncel Favori Filmleri Keşfedin</p>
            </div>
        </div>
    </div>
</div>


