
@{
    Film r = ViewBag.Details;
}
<div class="container mt-5">
    <div class="row">
        <!-- Video Gösterimi -->
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="ratio ratio-16x9">

                    <iframe src="@r.VideoUrl" title="YouTube video" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <!-- Film Bilgileri ve Puanlama -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2>@r.Name</h2>
                    <p>@r.Description</p>

                    <!-- Yıldız Puanlama Sistemi -->

                    <div class="stars">
                        <span class="star filled">&#9733;</span>
                        <span class="star filled">&#9733;</span>
                        <span class="star filled">&#9733;</span>
                        <span class="star filled">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <p class="mt-3">Puan: 4/5</p>
                </div>
            </div>
