
<div class="container mt-5">
    <div class="row">


@foreach(Film r in ViewBag.romantic)
{



            <div class="col-md-6 mb-4">
                <div class="card h-100">

                    <div class="card-img-top" style="position: relative; overflow: hidden;">
                        <iframe class="w-100" height="415" src="@r.VideoUrl" allowfullscreen></iframe>
                    </div>
                    <p class="card-text">
                        @if (r.Description.Length > 100)
                        {
                            @r.Description.Substring(0, 300)
                            //  + "..." bunu neden kullanamıyorum
                        }
                        else
                        {
                            @r.Description
                        }
                    </p>

                    @if (r.Description.Length > 100)
                    {
                        <a href="Action/Details/@r.Id" class="btn btn-link p-0">Devamını oku</a>
                    }


                    <a href="Comedy/Details/@r.Id" class="btn btn-primary">İzle</a>
                </div>
            </div>



        }
    </div>
</div>




