
<div class="container mt-5">
    <div class="row">

@foreach(Film comedy in ViewBag.Comedy)
{
    <div class="col-md-6 mb-4">
        <div class="card h-100">
           
            <div class="card-img-top" style="position: relative; overflow: hidden;">
                <iframe class="w-100" height="415" src="@comedy.VideoUrl" allowfullscreen></iframe>
            </div>
            <p class="card-text">
                @if (comedy.Description.Length > 100)
                {
                            var fulltext = comedy.Description.Substring(0, 200) + "...";
                            @fulltext
                }
                else
                {
                    @comedy.Description
                }
            </p>

            @if (comedy.Description.Length > 100)
            {
                <a href="Action/Details/@comedy.Id" class="btn btn-link p-0">Devamını oku</a>
            }


            <a href="Comedy/Details/@comedy.Id" class="btn btn-primary">İzle</a>
        </div>
    </div>



}
</div></div>



